﻿@page
@model SolucionIoT.Web.Pages.DetallesDispositivoModel
@{
    ViewData["Title"] = "DetallesDispositivo";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>





<h1>Detalles del dispositivo @Model.Dispositivo.Id</h1>

<a asp-page="/PanelUsuario" asp-route-idUsuario="@Model.Dispositivo.IdUsuario" class="btn btn-primary">Regresar</a>

<h3>Modulo de control</h3>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Selecciona el comando a enviar 
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var item in Model.Opciones)
        {
            <a class="dropdown-item" asp-route-opcion="@item.Key" asp-route-id="@Model.Dispositivo.Id">@item.Value</a>
        }
    </div>
</div>

<h3>Grafica de datos</h3>
<p>Total de datos: @Model.Lecturas.Count</p>
<div id="myfirstchart" style="height: 250px;"></div>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Fecha Hora</th>
            <th scope="col">Temperatura °C</th>
            <th scope="col">Humedad</th>
            <th scope="col">Luminosidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lecturas)
        {
            <tr>
                <td>@item.FechaHora </td>
                <td>@item.Temperatura </td>
                <td>@item.Humedad </td>
                <td>@item.Luminosidad </td>
            </tr>
        }
    </tbody>
</table>



<script>

    new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
        data: [
   @foreach (var item in Model.Lecturas)
   {
       @:{ fecha: '@string.Format("{0:u}",item.FechaHora)', Temperatura: @item.Temperatura, Humedad: @item.Humedad , Luminosidad: @item.Luminosidad },
  }
       ],
  // The name of the data record attribute that contains x-values.
  xkey: 'fecha',
  // A list of names of data record attributes that contain y-values.
        ykeys: ['Temperatura','Humedad','Luminosidad'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
        labels: ['Temperatura','Humedad','Luminosidad']
});

</script>



