﻿@page
@model SolucionIoT.Web.Pages.ElimiaDispositivo
@{
    ViewData["Title"] = "EliminarDispositivo";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}
<h1>Eliminar Dispositivo @Model.Dispositivo.Id</h1>
<h2>Realmente deseas elimiar este dispositivo?</h2>
<a asp-page="/PanelUsuario" asp-route-idUsuario="@Model.Dispositivo.IdUsuario" class="btn btn-primary">Cancelar</a>
<form method="post">
    <input type="hidden"  asp-for="@Model.Dispositivo.Id"/>
    <input type="hidden" asp-for="@Model.Dispositivo.IdUsuario" />
    <input type="submit" class="btn btn-danger" value="Eliminar" />
</form>

@if (Model.Mensaje != "")
{
    <div class="alert alert-danger" role="alert">
        @Model.Mensaje
    </div>
}


